<h1 class="subject"><%= @topic.subject %></h1>
<a class="btn" href="<%= topics_path %>">Back to Topics</a>
<div class="clearfix"></div>

<div class="body">

<%= simple_format @topic.body %>
</div>
<hr>
<% @topic.comments.all.each do |comment| %>
  <p class="comments"><%= comment.response %></p>
<% end %>
  
<%= render 'comments/form' %>

<div class="clearfix"></div>